<a href="https://colab.research.google.com/github/TrshDesigns/Data-science-practice/blob/main/HR_datascience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
print(pd)
print(np)

<module 'pandas' from '/usr/local/lib/python3.7/dist-packages/pandas/__init__.py'>
<module 'numpy' from '/usr/local/lib/python3.7/dist-packages/numpy/__init__.py'>


###checking that we have the modules

In [5]:
hrd = pd.read_csv('/content/sample_data/mnist_train_small.csv')
hrd.head(1)

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

###using the api to store the data set csv / if thee data set is not a csv we will convert it into csv format, we log the first line in the beggining of the table using head(1)

###the api didnt return anything so we download the dataset and upload it directly to use, instead of pointing towards a url now we point to the sample_data folder.

In [7]:
hrd = pd.read_csv("/content/sample_data/MFGEmployees4.csv")
hrd.head(1)

,EmployeeNumber,Surname,GivenName,Gender,City,JobTitle,DepartmentName,StoreLocation,Division,Age,LengthService,AbsentHours,BusinessUnit
0,1,Gutierrez,Molly,F,Burnaby,Baker,Bakery,Burnaby,Stores,32.028816,6.018478,36.577306,Stores

###now we have the first employe now to get a better understanding of the dataset and the tendencies we can creat a vizual for the different data related in its current x and y data form

In [ ]:
hrd.plot.bar()

In [1]:
pd.crosstab(hrd['AbsentHours'], hrd['LengthService']).plot.bar()

NameError: ignored